[Unit]
Description=colorado
After=network.target

[Service] 
ExecStart=/usr/bin/colorado -z -f
WorkingDirectory=/opt/colorado
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=colorado
Restart=always
User=root

[Install]
WantedBy=multi-user.target