[Unit]
Description=laufanzeiger
After=network.target

[Service]
Environment="APP_ENV=production"
ExecStart=/usr/bin/laufanzeiger -mqtt localhost
WorkingDirectory=/opt/laufanzeiger/base
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=laufanzeiger
Restart=always
User=root

[Install]
WantedBy=multi-user.target